<head>
	<style type="text/css">

		.card {
			max-width: 780px;
			overflow: auto;
			padding: 10px 10px 10px 10px;
			margin: 10px auto;
			box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
			background-image: <%= background_img @render[:background] %>;
		}

		.image-part {
			float: left;
			max-width: 300px;
			overflow: hidden;
			text-align: center;
		}

		img {
			max-width: 100%;
			margin: 10px auto;
			box-shadow: 0 2px 16px #000, 0 0 1px #000, 0 0 1px #000;
		}

		.text-part {
			max-width: 450px;
			float: left;
			margin-left: 20px;
		}

		.title-part {
			font-family: "Palatino";
			font-size: 24px;
			line-height: 145%;
			overflow: auto;
		}

		.description-part {
			font-family: "Seravek";
			overflow: hidden;
		}

		.tag {
			color: #FFFFFF;
			list-style-type:none;
			display: inline;
			background-color: #8AC007;
			font-weight: bold;
			padding-left: 1px;
			padding-right: 1px;
			margin: 1px 1px auto;
			border: 1px solid #ffffff;
			outline: 1px solid #8AC007;
			line-height: 150%;
		}
	</style>
</head>

<div class="card">
	<div class="image-part">
		<%= img @render[:image] %>
	</div>
	<div class="text-part">
		<h1 class="title-part">
			<%= link_to @render[:title], @render[:url] %>
		</h1>
		<p class="description-part">
			<%= @render[:plain].byteslice(0..500) %>
		</p>
		<ul style="padding-left: 0px">
			<% @render[:keywords][0..6].each do |keyword| %>
					<%= keyword_tag keyword %>
			<%	end unless @render.nil? %>
		</ul>
	</div>
</div>


